In [11]:
import pandas as pd
data = {
	"day" : ["10-05-2019","11-05-2019","12-05-2019","13-05-2019","14-05-2019","15-05-2019"],
	"tem" : ["10","19","9","05","20","15"],
    "windspeed" : ["1","19","3","6","10","5"],
	"event" : ["rain","hot","sunny","snow","rain","suuny"]
}
df = pd.DataFrame(data)
df

          day tem windspeed  event
0  10-05-2019  10         1   rain
1  11-05-2019  19        19    hot
2  12-05-2019   9         3  sunny
3  13-05-2019  05         6   snow
4  14-05-2019  20        10   rain
5  15-05-2019  15         5  suuny

In [14]:
rows,columns = df.shape
rows,columns

(6, 4)

In [15]:
df.head()

          day tem windspeed  event
0  10-05-2019  10         1   rain
1  11-05-2019  19        19    hot
2  12-05-2019   9         3  sunny
3  13-05-2019  05         6   snow
4  14-05-2019  20        10   rain